.navbar-row{
    display: flex;
    justify-content: space-around;
}

@media (max-width:600px) {
    .navbar-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
}