.navbar-row{
    background-color:#007BFF;
    padding:23px;
    display: flex;
    justify-content: space-around;
}
.list{
        color: whitesmoke;
    font-size:23px
    width: 24rem;
    display: flex;
    list-style: none;
    justify-content: space-evenly
    
}
input{
    height:3rem;
    border-radius:2rem;
        width: 24rem;
}


@media (max-width:600px) {
    .navbar-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
}
